<p>Привет, <%= @user.email %></p>
<p>На ваш пост "<%= link_to @post.title, @post %>" оставлен комментарийЖ</p>
<p><%= truncate(@comment.body) %></p>

<p> Все посты смотрите по ссылке <%= link_to 'здесь', posts_url %></p>